html {
  box-sizing: border-box;
}


:root {
  --red: #DE2828;
  --shadow: #911717;
  --sky-blue: #008EE0;
  --dark-blue: #006BA8;
  --golden-yellow: #FFE500;
  --blue-pokimon: #2B4484;
}
body {
  margin: 0;
  font-family: 'Skranji', cursive;
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: 10px;
  box-sizing: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
} 

a:link,a:visited,a:hover,a:active{
  color: var(--blue-pokimon);
  }

input, button{
  font-size: 24px;  
}

select, label {
  font-size: 18px;
}

p {
  font-size: 16px;
}



@media (min-width: 1475px){
  h1 {
    font-size: 60px;
  }
}


.yellow {
  color: var(--golden-yellow);
}

.blue {
  color: var(--blue-pokimon);
}

.bg-blue {
  color: var(--blue-pokimon);
}

.stroke {
  -webkit-text-fill-color: var(--golden-yellow);
  -webkit-text-stroke: 1px var(--blue-pokimon);
  -webkit-text-stroke-width: 3px;
}

.stroke-1 {
  -webkit-text-stroke-width: 1px;
}

.stroke-y {
  -webkit-text-stroke: var(--golden-yellow);
  -webkit-text-fill-color: 1px var(--blue-pokimon);
  -webkit-text-stroke-width: 1px;
}

.pokename h2 {
    margin: 5px 0;
  }
  
 
  
  .poke-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .select__form{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 90%;
    margin-top: 10px;
  }

  .text__form {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 10px;
  }

  @media(min-width: 540px) {
    .poke-form {
      flex-direction: row;
    }

    .select__form, .text__form {
      gap: 5px;
      width: 42%;
    }
  }

  select{
    border: none;
    outline: none;
    color: white;
    background-color: var(--dark-blue);
    width: 70%;
    display: block;
    border-radius: 7px;
    padding: 7px 5px;
  }

  .pokedex {
    width: 235px;
    position: relative;
    margin: 0 auto;
    background-color: #008ee044;
    border-radius: 7px; 
    border-left: solid 3px rgba(255, 255, 255, 0.4);
    border-top: solid 2px rgba(255, 255, 255, 0.4);
  }

  .pokegrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    padding-bottom: 0px;
    background-color: #008ee044;
    backdrop-filter: blur(9px);
    position:relative;
  }

  @media (min-width:1475px){
    .pokegrid {
      max-width: 1066px;
    }
  }
  
  .scroll::-webkit-scrollbar {
    width: 8px;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: var(--shadow);
    border-radius: 4px;
  }

  .scroll::-webkit-scrollbar-thumb:active {
    background-color: #006aa879;
  }

  .scroll::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  .scroll::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  
  
  .pokemons {
    display: grid;
    width: 95%;
    margin: 15px auto;
    height: 33vh;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  @media (min-width: 510px) {
    .pokemons {
      max-width: 510px;
      grid-template-columns: repeat(2, 1fr);
  
      gap: 20px;
    }
  }
  
  @media (min-width: 760px) {
    .pokemons {
      max-width: 760px;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  
  @media (min-width: 1010px) {
    .pokemons {
      max-width: 1010px;
      grid-template-columns: repeat(4, 1fr);
  
      gap: 20px;
    }
  }

  .s-frame {
    width: 95%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  @media (min-width:1475px){
    .s-frame {
      max-width: 1066px;
    }
  }

  .l-s-frame {
    width: calc((100% - 20vh)/2);
    background-color: var(--red);
    border-top-left-radius: 15px;
  }

  .c-s-frame {
    width: 20vh;
    height: 100%;
  }

  .c-s-frame-up {
    height: 50%;
    background-color: var(--red);
  }

  .c-s-frame-bot {
    height: 50%;
    position: relative;
  }

  .rectangle {
    width: 20px;
    height: 100%;
    background-color: var(--red);
    z-index: 15;
  }

  .rectangleS {
    width: 100%;
    height: 20px;
    background-color: var(--red);
    z-index: 15;
  }

  .triangle {
    width: 45%;
    height: 45%;
    
  }

  .dd {
    background: linear-gradient(135deg, rgba(222,40,40,1) 50%, rgba(231,114,241,0) 50%);
  }

  .di {
    background: linear-gradient(225deg, rgba(222,40,40,1) 50%, rgba(231,114,241,0) 50%);
  }

  .t-circle {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #008ee044;
    backdrop-filter: blur(9px);
    border: none;
    border-radius: 150px 150px 0 0;
  }

   .t-circle-after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-top: solid 20px black;
    border-left: solid 20px black;
    border-right: solid 20px black;
    border-radius: 150px 150px 0 0;
    z-index: 30;
  }

  .t-circle-before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
    border-radius: 150px 150px 0 0;
    z-index: 35;
  } 

  

  .r-s-frame {
    width: calc((100% - 20vh)/2);
    background-color: var(--red);
    border-top-right-radius: 15px;
  }
  
  .light {
    position: absolute;
    z-index: 10;
    width: 98%;
    height: 95%;
    margin: 5px;
  }
  
  .s-light {
    border-top: solid 5px rgba(255, 255, 255, 0.2);
    border-left: solid 5px rgba(255, 255, 255, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .b-light {
    border-left: solid 5px rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 15px;
  }
  
  .b-circle {
     width: 70px; 
     height: 70px; 
     border-bottom: 5px solid var(--shadow);
     border-right: 5px solid var(--shadow);
     background-color: var(--red);
     border-radius: 15px 0 100% 0;
  }
  
  .s-circle {
    width: 25px; 
    height: 25px; 
    border-bottom: 5px solid var(--shadow);
    border-right: 5px solid var(--shadow);
    background-color: var(--red);
    border-radius: 15px 0 100% 0;
    background-color: var(--red);
  }
  
  .right-line-circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc((100% - 20vh)/2);
    height:  5px;
    background-color:  white;
  }
  
  .right-line-circle:after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
    height:  5px;
    background-color: var(--shadow);
  }
  
  .left-line-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc((100% - 20vh)/2);
    height:  5px;
    background-color:  white;
  }
  
  .left-line-circle:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height:  5px;
    background-color: var(--shadow);
  }

  .bottom-black-circle {
    width: 400px;
    height: 200px;
    background-color: var(--shadow);
    border-radius: 200px 200px 0 0;
    position: absolute;
    top: 0;
    left: 425px;
    transform: rotate(180deg)
  }
  
  .bottom-black-circle:before {
    content: '';
    width: 370px;
    height: 185px;
    background-color: black;
    border-radius: 185px 185px 0 0;
    position: absolute;
    bottom: -1.5px;
    left: 10px;
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
    z-index: 20;
  }
  
  .bottom-black-circle::after {
    content: '';
    width: 300px;
    height: 150px;
    background-color: var(--sky-blue);
    border-radius: 150px 150px 0 0;
    position: absolute;
    bottom: -2px;
    left: 50px;
    z-index: 30;
  }
  
  .bottom-right-line-circle {
    content: '';
    position: absolute;
    top: -1.5px;
    width: 425px;
    height:  5px;
    background-color: white;
  }
  
  .bottom-right-line-circle:after {
    content: '';
    position: absolute;
    top: 5px;
    left:0;
    width: 425px;
    height:  5px;
    background-color: var(--shadow);
  }
  
  .bottom-left-line-circle {
    position: absolute;
    top: -1.5px;
    right: 0;
    width: 425px;
    height:  5px;
    background-color:  white;
  }
  
  .bottom-left-line-circle:after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 425px;
    height:  5px;
    background-color: var(--shadow);
  }
  
  .abs {
    position: absolute;
  }
  
  .l {
    left: 0;
  }
  
  .t {
    top: 0
  }
  
  .r {
    right: 0;
  }
  
  .b {
    bottom: 0;
  }
  
  .rotate90 {
    transform: rotate(90deg);
  }
  
  .rotate27 {
    transform: rotate(270deg);
  }
  
  .rotate18 {
    transform: rotate(180deg)
  }
  
  .cristal {
    text-align: center;
    position: relative;
    left: 1%;
    width: 98%;
  }
  
  .cristal img {
    position: relative;
    z-index: 31;
  }
  
  .pokename h3 {
    margin: 0;
  }
  
  .cristal__animation {
    position: absolute;
    top: 40px;
    left:55px;
    bottom:0;
    right:0;
    border-radius: 50%;
    border: dotted 15px #007CC4;
    width: 105px;
    height: 105px;
    animation: rotate 6s ease-in-out infinite;
    animation-direction: alternate
  }
  
  .cristal__animation2 {
    position: absolute;
    top: 47px;
    left:63px;
    bottom:0;
    right:0;
    border-radius: 50%;
    border: dotted 15px #007CC4;
    width: 90px;
    height: 90px;
    animation: rotate2 6s ease-in-out infinite;
    animation-direction: alternate
  }


  .cristal__animation-i {
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    border-radius: 50%;
    border: dashed 30px #007CC4;
    width: 100%;
    height: 90%;
    animation: rotate2 12s ease-in-out infinite;
    animation-direction: alternate;
    z-index: -1;
  }

  .cristal__animation-d {
    position: absolute;
    top: 5%;
    left:4.5%;
    bottom:0;
    right:0;
    border-radius: 50%;
    border: dashed 30px #007CC4;
    width: 90%;
    height: 82%;
    animation: rotate2 9s ease-in-out infinite;
    animation-direction: alternate;
    z-index: -1;
  }
  


  
  @keyframes rotate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
  @keyframes rotate2 {
    0% {
      transform: rotate(360deg)
    }
    100% {
      transform: rotate(0deg)
    }
  }
  
  
  @keyframes open {
    from {height: 0;}
    to {height: 200px;}
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    font-size: 16px;
    color: white;
  }
  
  .stat__percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b448483;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    border-right: solid 2px rgba(255, 255, 255,0.45);
    border-bottom: solid 2px rgba(255, 255, 255,0.45);
  }
  
  .stat__name {
    text-align: center;
  }
  
  .stat__name p {
    margin: 2px;
  }
  
  .types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 60px;
}

@media(min-width: 840px) {
  .pagination {
    padding-bottom: 12px;
  }
}

@media(min-width: 540px) {
  .pagination {
    gap: 20px;
  }
}



.pag {
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px 7px;
  background-color: transparent;
  color: var(--blue-pokimon);
}

.pag:hover {
  background-color: #008ee04d;
}

.active {
  background-color: #ffe60077;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login input,.login button {
  width: 70%;
  padding: 10px 10px;
  outline: none;
  border-radius: 7px;
  border: none;
  
}

.login input {
  background-color: rgba(255, 255, 255, 0.2);
  color: yellow;
}

.login button {
  margin-top: 10px;
  background-color: yellow;
}

input {
  width: 70%;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  color: yellow;  
}

button {
  padding: 5px 10px;
  outline: none;
  border-radius: 7px;
  border: none;
}

.grid-ind {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.invert {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.number {
  font-size: 120px;
  text-align: center;
  margin: 0;
}

.one h1 {
  margin: 5px 15px;
  font-size: 48px;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dos {
  position: relative;

}

.about, .moves {
  background-color: rgba(255, 255,255, 0.1);
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 10px 0;
  border-radius: 5px;

}

.basic, .abilities {
  display: flex;
  justify-content: space-evenly;
}

.moves {
  width: 95%;
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}

.menu {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 10px;
  left: 15px;
}

.backgrounds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 90%;
  margin: 10px auto 0 auto;
}

.numberP {
  margin: 5px auto 10px auto;

}


.encounters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 22px;
}

.locationA {
  margin-top: 0;
  padding-top: 30px;
}